POSTGRES_USER=cockpit
POSTGRES_PASSWORD=change-me
POSTGRES_DB=cockpit
DATABASE_URL=postgresql+psycopg://cockpit:change-me@postgres:5432/cockpit
WEB_DATABASE_URL=postgresql://cockpit:change-me@postgres:5432/cockpit
AUTH_SECRET=generate-with-openssl-rand-base64-33
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
OWNER_EMAIL=gavinong10@gmail.com
INTERNAL_API_TOKEN=generate-with-openssl-rand-hex-32
IB_USER=
IB_PASSWORD=
IB_TRADING_MODE=paper
DISCORD_WEBHOOK_URL=
B2_KEY_ID=
B2_APP_KEY=
B2_BUCKET=broker-cockpit-backups
AUTH_URL=http://localhost:3000
